<h1><em>All Restaurants</em></h1>

<div>

  <ul style="list-style: none;">
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %> |
        <%= link_to " âœ½ ", restaurant_path(restaurant), method: :delete %>
    </li>
  <% end %>
  </ul>
</div>

<p>
  <%= link_to "Admit a restaurant â˜",new_restaurant_path, class: "btn btn-primary" %>
</p>
